@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
}

















.editAdd-enter {
  opacity: 0;
  transform: translateX(100%);
}

.editAdd-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.editAdd-exit {
  opacity: 1;
  transform: translateX(0);
}

.editAdd-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}
.review-enter {
  opacity: 0;
  transform: translateY(20px);
}

.review-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.review-exit {
  opacity: 1;
  transform: translateY(0);
}

.review-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.tab-fade-enter {
  opacity: 0;
}

.tab-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.tab-fade-exit {
  opacity: 1;
}

.tab-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}


